body {
    background-color: #1d3e81;
    color: #E8EFF0;
    text-align: center;
}
img {
    width: 50%;
}
a {
    color: #E8EFF0;
}

a.backButton {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    text-decoration: none;
}

/* Your code here */

@media print {
    body {
        background-color: #ffffff;
        text-align: center;
        padding: 0px;
    }

    p.notPrinted,
    a.backButton {
        display: none;
    }

    img {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    p {
        position: absolute;
        bottom: 300px;
        margin: 0;
        padding-left: 20%;
        padding-bottom: 20%;
        font-weight: bold;
        color: #ffffff;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

};